.timer {
  display: flex;
  text-align: center;
  margin: 10px 10px;
}

input {
  margin-left: 50px;
  border-radius: 5px;
  border-color: blueviolet;
}
button {
  border-radius: 5px;
  border-color: blueviolet;
}

span {
  display: block;
  margin: 10px;
  font-weight: 700;
}

.value {
  font-size: 30px;
  color: palevioletred;
}

.label {
  font-size: 20px;
  color: blueviolet;
}
